.suggestionsLayout {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.companyBoxSuggestion {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    height: auto;
    background-color: lightgray;
    border-radius: 10px;
}
<<<<<<< HEAD

.no-stock-info {
    padding-top: 10px;
}
=======
>>>>>>> 9bdba9524336536420a0f01626d4520a52772b0d
