<div>
    <h1>Login</h1>

    <form method="POST" action="/login" id="login-form">
        <label for="email">Email Address: </label>
        <input type="email" name="email" id="email">

        <label for="password">Password: </label>
        <input type="password" name="password" id="password">
        <button type="submit">Login</button>
        <input type="checkbox" id="remember" name="cache">
        <label for="remember"> Remember me</label><br>
        
    </form>

    <div class="error-div">
    {{#if hasError}}
        <ul>
            {{#each errors}}
            <li>
                {{this}}
            </li>
            {{/each}}
        </ul>
    {{/if}}
    </div>
</div>